<footer class="footer">
    <div class="f-main">
        <div class="f-social">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-whatsapp"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-x-twitter"></i>
        </div>
        <div class="f-company">
            <a href="/listings">&copy WonderLust.com</a>
        </div>
        <div class="f-other">
            <a href="privacy">Privacy</a>
            <a href="terms">Terms</a>
        </div>
    </div>
</footer>